.venv/*
.vscode/*
frontend/node_modules/*
frontend/package-lock.json
frontend/package.json
*.sqlite
app/__pycache__/*
frontend4testing/node_modules/*
scripts/__pycache__/*
tmp/*
app/scripts/__pycache__/*
test.py
sse_server.conf
