<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">C.2</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/sfvoting">Голосовалка на сервере SF</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/voting">Голосовалка на этом сервере</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/results">Результаты</a>
        </li>
    </ul>
</nav>

