<ul class="nav flex-column">
  
  <li class="nav-item flex-column">
    <a class="nav-link" id='yourCityID' href="/your_city">Ваш город — Владивосток?</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="preferencesID" href="/preferences">Галочки предпочтений</a>
  </li>
  
</ul>


<!-- <ul class="nav nav-pills mb-3">

    <li class="nav-item">
      <a class="nav-link" id="yourCityID" href="/your_city">Ваш город — Владивосток?</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="preferencesID" href="/preferences">Галочки предпочтений</a>
    </li>

  </ul> -->