.voting-btn {
    width: 30%;
    min-width: 80px;
  }

.wrapper {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 50% 50%;
  grid-template-areas: 
      "sf-header"
      "sf-results";
}

.sf-results{
  grid-area: sf-results;
  padding: 10px;
}

.sf-header{
  grid-area: sf-header;
  padding: 10px;
}